html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-family: 'Lato', sans-serif !important;
}

.photosCont {
	.photoWrap {
		margin-top: 20px;
		margin-bottom: 20px;
		.photo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 350px;
			height: 350px;
			background-size: cover;
			background-position: center;
			background-image: url(../images/1.png);
		}
	}
}